.histogram {
    margin-right: 16px;

    &Container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 32px;
        border-top: 1px solid black;
        position: relative;
    }
}

.title {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    padding: 8px 12px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}